/* custom scrollbar */

::-webkit-scrollbar {
  width: 0.25em;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: rgb(168, 168, 168);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 126, 126);
}

* {
  scrollbar-width: thin;
}

/* custom search */

#search-query {
  outline: none;
  border: none;
  box-shadow: none;
}

/* HomePage - custom.css */
