#search-query {
  outline: none;
  border: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.613);
}
::-webkit-scrollbar-thumb {
  background: rgb(124, 124, 124);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 99, 65);
}

* {
  scrollbar-width: thin;
}
